body {
    background-color: #092327;
}

h1 {
    margin-top: 0;
    font-size: 2em;
}

.card {
    text-align: center;
    background-color: white;
    max-width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 15px;
    font-family: "Roboto Slab", serif;
}

.card .image {
width: 100;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.time-stamp {
    color: #3f5b8a;
    padding-top: 20px;
}

.main {
    padding-bottom: 20px;
}

.main p {
color: #8b8b8b;
width: 0 80%;
margin: 0 auto;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3f5b8a;
    color: white; 
    border: 1px red solid;
}

.bottom > div {
    height: 100%;
  
}